{% extends "base.html" %}
{% block title %}Post Creation{% endblock  %}
{% block content %}
    <h1>{% if object %}Edit{% else %}Create{% endif %} Post</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success btn-xs">{% if object %}Save{% else %}Create Post{% endif %}</button>
    </form>
    {% if object %}
    <a href="{% url 'post_list'  %}" class="btn btn-danger btn-xs mt-3">Cancel</a>
    {% else %}
    <a href="{% url 'post_list' %}" class="btn btn-danger btn-sm mt-2">Cancel</a>
    {% endif %}
{% endblock  %}